/* CSS files add styling rules to your content */
body {
  background: #fff0f8;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  overflow: hidden;
}
header img {
  margin-left: 50%;
  transform: translateX(-50%);
  display; center-align 
}

h1 {
  display: block;
  font-size: 10vh;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 10vw;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fa7c91;
}
h2 {
  font-style: italic;
  color: #fa7c91;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 10vw;
  margin-inline-end: 0px;
}

#header > h1 > p {
  font-size: 8vh; 
  color: navy;
  margin: 0;
}

#header > h1 > a { 
  text-decoration: none;
  color: black;
  
tr > td {
  width: 33.3406%;  
  height: 304px; 
  border-style: hidden; 
  border-color: #ffffff; 
  background-color: #ffffff; 
  text-align: center;
}

img {
  height: 50%;
  max-width: auto;
}

.container {
  text-align: justify;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container > div {
  display: inline-block;
  vertical-align: top;  
}

.centered-over-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 8vh;
}

.container-box {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

.text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  display: inline-block;
  font-size: 6.5vh;
  color: navy;
  font-weight: italic;
}

.tile img {
  height: 60vh;
  width: auto; 
  border-radius: 15%;
  padding: 2.5vh;
}

.tile > .interactive-tile img {
  opacity: .9;
  transition-timing-function: ease-in-out;
  transition: 300ms;
}

.tile > .interactive-tile img:hover { 
  opacity: 1;
}

